$color_1: #111;
$color_2: white;
$font-family_1: 'Arial', sans-serif;

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  background: rgb(11 129 124 / 21%);
  border-bottom: 0px solid #eee;
  font-family: $font-family_1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: transform 0.3s ease;

  .sidebars {
    display: none;
  }

  .logo {
    img {
      width: 150px;
      cursor: pointer;
    }
  }

  .nav-links {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      position: relative;
    }

    a.active {
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 100%;
        background: #ffff;
      }
    }

    a.buy {
      font-weight: bold;
    }
  }

  &.other-header {
    background-color: #1bb5ae;

    .login-signup-btn {
      background-color: #fff;
      color: #1bb5ae;
      border: 2px solid #fff;

      &:hover {
        background-color: #1bb5ae;
        color: #fff;
        border-color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
      }
    }
  }


  .login-signup-btn {
    background-color: #1bb5ae;
    color: #fff;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #95e6e2;
    }
  }

}

.login-modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .error-text {
          color: red;
          font-size: 13px;
          margin-top: 5px;
          text-align: left;
          padding-left: 10px;
        }

      }
    }
  }
}

.main-header.hide {
  transform: translateY(-100%);
}

.main-header.show {
  transform: translateY(0);
}

@media (max-width: 991px) {
  .main-header {
    background: #1bb5ae;
    padding: 15px 12px;

    .nav-links {
      display: none;
    }

    .login-signup-btn {
      display: none;
    }

    .sidebars {
      display: block;
      background: transparent;
      position: relative;
      width: 8%;

      .menu-button {
        outline: 0;
        padding-right: 0;
        border: 0;
        background: transparent;

        span {
          position: absolute;
          left: 0px;
          background: #fff;
          border-radius: 2px;
          transition: transform 0.28s ease, opacity 0.2s ease, width 0.2s ease;
          height: 3px;
          width: 1.8rem;
          top: 11px;
        }

        &.menu-button span:nth-child(1) {
          transform: translateY(-8px);
          width: 1.8rem;
        }

        &.menu-button span:nth-child(2) {
          width: 18px;
        }

        &.menu-button span:nth-child(3) {
          transform: translateY(8px);
          width: 14px;
        }

        &.menu-button.open span:nth-child(1) {
          transform: rotate(44deg);
          width: 24px;
        }

        &.menu-button.open span:nth-child(2) {
          opacity: 0;
        }

        &.menu-button.open span:nth-child(3) {
          transform: rotate(-45deg);
          width: 24px;
        }

        /* accessibility focus */
        &.menu-button:focus-visible {
          outline: 2px solid #4c9aff;
          outline-offset: 3px;
        }

        // &.menu-button {
        //   span+span {
        //     margin-top: .35rem;
        //   }
        // }

        &.menu-button span:nth-child(2) {
          width: 1.5rem;
        }

        &.menu-button span:nth-child(3) {
          width: 1.2rem;
        }

      }

      .menu {
        background: #fff;
        border-radius: 2px;
        display: block;
        height: 100vh;
        width: 75%;
        transition: all .5s;
        position: fixed;
        left: -75%;
        top: 0;

        &.open {
          background: #fff;
          border-radius: 2px;
          display: block;
          height: 100vh;
          width: 75%;
          transition: all .5s;
          position: fixed;
          left: 0;
          top: 0;
        }
      }
    }
  }

}