$color_1: #111;
$color_2: white;
$font-family_1: 'Arial', sans-serif;

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 40px;
  background: rgb(11 129 124 / 21%);
  border-bottom: 0px solid #eee;
  font-family: $font-family_1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: transform 0.3s ease;

  .logo {
    img {
      width: 150px;
    }
  }

  .nav-links {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      position: relative;
    }

    a.active {
      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        height: 2px;
        width: 100%;
        background: #ffff;
      }
    }

    a.buy {
      font-weight: bold;
    }
  }


  .login-signup-btn {
    background-color: #1bb5ae;
    color: #fff;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 999px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #95e6e2;
    }
  }

}

.login-modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        .error-text {
          color: red;
          font-size: 13px;
          margin-top: 5px;
          text-align: left;
          padding-left: 10px;
        }

      }
    }
  }
}

.main-header.hide {
  transform: translateY(-100%);
}

.main-header.show {
  transform: translateY(0);
}